@import "tailwindcss";

@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-xxl: 1440px;
}

body {
  background: #1b191c;
  color: #ffffff;
}

* {
  /* outline: 1px solid red; */
  @apply duration-300 ease-in-out transition-all;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

button {
  @apply cursor-pointer disabled:opacity-80 disabled:cursor-not-allowed;
}

.mw {
  width: 100%;
  max-width: 1356px;
}

.text-gradient-copy-top-traders {
  background: linear-gradient(95.11deg, #f9f3ff 23.83%, #999999 74.29%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-with-streple {
  background: linear-gradient(
    91.53deg,
    #ffffff 53.18%,
    rgba(255, 255, 255, 0) 133.11%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.why-people-choose-us {
  border-radius: 21px;
  padding: 4px 10px;
  background: #5a555c1a;
  border: 1px solid;
}

.text-gradient-earn-profits {
  background: linear-gradient(
    92.94deg,
    #ffffff 39.54%,
    rgba(255, 255, 255, 0.05) 115.48%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-real-results {
  background: linear-gradient(
    92.94deg,
    #ffffff 39.54%,
    rgba(255, 255, 255, 0.05) 115.48%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  width: 396px;
  min-height: 496px;
  gap: 40px;
  border-radius: 24px;
  border-width: 3px;
  padding-top: 52px;
  padding-right: 24px;
  padding-bottom: 52px;
  padding-left: 24px;
  background: #ffffff0d;
  border: 3px solid;
  border-color: #434343c2;
  backdrop-filter: blur(4px);
}

.hero-section-bg {
  background-image: url("../../public/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
